.tasks {
    display: flex;
    background-color: white;
    flex-flow: column;
    justify-content: center;
    border-radius: 20px;
    
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2rem;
    max-width: 720px;
    margin:auto;
    min-width: 500px;
}

.shop-container{
    display:flex;
    flex-flow: column;
    justify-content: end;
    height: 180px;
    background-image: url("image.jpg");
    border-radius: 15px;
    box-shadow: 1px 1px 10px gray;

    margin-right: 10px;
    margin-bottom: 10px;

    min-width: 200px;
    overflow-y:auto;
    
}

.shop-info{
    display:flex;
    flex-flow: column;
    color: black;
    padding: 2px;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
}

.shop-menu{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    

}

.shop-info .shop-name{
    font-size: 1rem;
}
.shop-info-item{
    font-size: 0.8rem;
    margin-left: 5px;
    margin-bottom: 2px;
}


.title {
    font-size: 2em;
    font-weight: bold;
    grid-row: 1;
    text-align: center;

    margin-top: 6rem;
}


body {
    background-color:rgb(253,238,0);
}

.task-list {
    display: flex;
    flex-flow: column;


}



.task-list li {
    display: flex;
    justify-content: space-between;
}

.task-list li span:nth-child(1) {
    margin-right: 1rem;
    margin-bottom: 1rem;


}

.task-list li span:nth-child(2) {
    font-weight: 400;
    margin-bottom: 1rem;
    flex-grow: 20;
    margin-right: 25px;
    padding-left: 4px;

}

.task-list li span:nth-child(2):hover{
    cursor:pointer;
}


input {
    border: none;
    margin-top: 6rem;
    font-size: large;
    flex-grow: 50%;
    border-bottom: 1px dashed;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 3rem;
    text-align: start;


}

button {
    color: black;

    text-decoration: none !important;
}

.done span{
    text-decoration: line-through;
    color: gray
}



.statistics {
    align-self: flex-end;
    margin-right: 2rem;
}